body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    background-color: #F2AA4CFF;
}
.header{
    margin-top: 50px;
}
.img-profile{
    max-width: 100%;
}
.welcomePage{
    display: inline-block;
    margin-left:100px;

}
.sideBySidePic{
    margin-top:20px;
    display:inline-block;
}
.main-content{
    background-color:navajowhite;
    width: 100%;
    height:80%;
    max-width: 100%;
    padding:30px;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    
}
.content1{
    background-color:black ;
    width:400px;
    max-width: 100%;
    border-radius: 15px;
    padding:30px;
    align-items: center;
    margin-top: 20px;
    color:wheat;
    display: inline-block;
} 
.content2{
    background-color:black ;
    width:400px;
    max-width: 100%;
    border-radius: 15px;
    padding:30px;
    align-items: center;
    margin-top: 20px;
    color:wheat;
    float:right ;
    
}  
@media screen and (max-width:800px){
    .content1,.content2{
        width:100%;
    }
}